.teamContainer{
    padding-top: 200px;
    padding-bottom: 200px;
    display: none;
}

h1{
    display: inline;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
}

p{

}

#myChart {
    max-width: 800px;
    max-height: 800px;
}