a:link{

    color: black;
    text-decoration: none;
    background-color: rgb(0, 110, 255);

}

a:visited{

    color: black;
    text-decoration: none;
    background-color: rgb(0, 110, 255);

}

a:hover{

    color: black;
    text-decoration: none;
    background-color: rgb(0, 110, 255);

}

a:active{

    color: black;
    text-decoration: none;
    background-color: rgb(83, 83, 83);

}

.topnav{

    width: 100%;
    font-size: 175%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    background-color: rgb(0, 110, 255);
    padding: 2% 0%;

}

.navlink{

    width: 100%;
    padding: 2%;

}